/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    /*font-size: 1em;
    line-height: 1.4;*/
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#container {
  width: 1070px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  margin-top: 30px;
}
.menu ul{
  margin: 0 0 0 180px;
  padding: 0;
  float: left;
}
 
.menu ul li{
  display: inline;
}

.font{font-size:18px}

.menu ul li a{
    float: left; text-decoration: none;
    color: #FF6633;
    padding: 12.5px 20px;
 }
 
.menu ul li a:visited {
    color: #FF6633;
}

#feeds {
  width: 1070px;
  height: auto;
}


/* .news-item-wrapper { */
/*   padding: 3px; */
/*   margin: 5px; */
/* } */

#ajax-loader {
  display: none;
  position: relative;
  top: 240px;
  left: 500px;
}

.leaf {
  height: auto;
  width: 300px;
  border: 2px solid #DDD;
  box-shadow: 0 8px 6px -6px #aaa;
  -moz-box-shadow: 0 8px 6px -6px #aaa;
  -webkit-box-shadow: 0 8px 6px -6px #aaa;
  margin: 20px;
  padding: 5px;
  float: left;
}

.leaf .text, #popup-box .text {
  font: bold 15px/17px 'Helvetica Neue', Helvetica, sans-serif;
  margin: 5px;
  margin-bottom: 10px;
}
.leaf a {
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px;
  float: right;
}

.leaf .img img {
  margin: auto 0;
}

.leaf:hover {
  cursor: pointer;
  -moz-transition: box-shadow 500ms ease 0s;
  -webkit-transition:box-shadow 500ms ease 0s;
  box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
}

#overlay {
  width: 1400px;
  height: 10000px;
  opacity: 0.3;
  background-color: #000;
  display: none;
  z-index: 500;
}

#popup-box {
  position: absolute;
  left: 300px;
  top: 0;
  background-color: white;
  border: 2px solid #DDD;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
#popup-box .content {
  margin: 30px;
  padding: 5px;
  border: 1px solid #DDD;
}
#popup-box .close {
  text-decoration: none;
  opacity: 1;
  float: right;
  right: 0px;
  top: 0px;
  position: relative;
  padding: 0 5px;
  background: url('../img/close.png') no-repeat;
  height: 25px;
  width: 25px;
}
#popup-box .close:hover {
  /*background: url('../img/close_red.png') no-repeat;*/
}
/* position of resource containers */
#resource-performance_of_subsc {
  margin-top: -220px;
}
#resource-operator_revenue_data {
  margin-top: -700px;
}
#resource-cabletv {
  margin-top: -100px;
}
#resource-internet_subsc {
  margin-top: -300px;
}
#resource-licencecr {
  margin-top: -200px;
}
#resource-cabletvmap {
  margin-top: -30px;
}
#resource-telecom_sector_revenue {
  margin-top: -150px;
}

#resource-spectrum_fee {
  margin-top: -430px;
}
#resource-ITUdataexplorer {
  margin-top: -300px;
}

.news-item-wrapper{
    float:left;
    padding: 5px;
    margin: 10px;
    width: 300px;
    height: 100px;
    border: 2px solid #DDD;
    box-shadow: 0 8px 6px -6px #aaa;
    -moz-box-shadow: 0 8px 6px -6px #aaa;
    -webkit-box-shadow: 0 8px 6px -6px #aaa;
}
.news-item-wrapper:hover {
  -moz-transition: box-shadow 500ms ease 0s;
  -webkit-transition:box-shadow 500ms ease 0s;
  box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
}
.description {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.heading {
  font-size: 15px;
  font-weight: bold;
}
h2 {
  text-align: center;
}

#timeline-container {
  margin-top: 50px;
}
#timeline-content {
  width: 90%;
  margin: 0 auto;
  padding: 0px;
}

.module {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
