<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
	<script src="js/simile.mit.edu/timeline/api/timeline-api.js"></script> <!-- Do not move this to be placed in body. -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="stylesheet" href="css/zoomer.css">
        <link rel="stylesheet" href="css/subnav.css">
        <link rel="stylesheet" href="css/pivot.css">
        <link rel="stylesheet" href="css/treemap.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css"/>
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="container" class="wrapper">
          <div id="frontpage" class="content">
            <center>
            </center>
            <br><br><br>
            <div id="content">

              <div class="container">
                <img id="logo" src=""></img>
                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3"/></a></li>
                  <li><a href="#"><img src="" alt="100W" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3"/></a></li>
                  <li><a href="#"><img src="img/frontpage/signals.jpg" alt="" style="background:#BEFAF3"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="" alt="88-108MHZ" style="background:#BEFAF3"></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image7.png" alt="" style="background:#BEFAF3" /></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="img/frontpage/antenna.jpg" alt="antena" style="background:#F2CEDF"/></a></li>
                  <li><a href="#"><img style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image1.png" alt="signal strength"style="background:#F2CEDF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image2.png" alt="signal strength"style="background:#F2CEDF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image3.png" alt="signal strength"style="background:#F2CEDF" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#F2CEDF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#F2CEDF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/ch8_1.jpg" alt="music" style="background:#F2CEDF"/></a></li>
                </ul>
                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt=""style="background:#FFFFFF" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/chip.jpg" alt="chip" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="" alt="Judgement: Airways Public Property - 1995" style="background:#EDE4B2" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image5.png" alt="monitoring" style="background:#EDE4B2" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image6.png" alt="Radio station" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="Spectrum allocation from MIB MOCIT" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="Indian Telegraph act-1885" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="img/frontpage/air.jpg" alt="logo" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#EDE4B2"/></a></li>
                </ul>

                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="img/frontpage/action.jpg" alt="structure" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image8.png" alt="doordarshan icon" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/abc.jpg" alt="collaborator" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/news.jpg" alt="auction" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image9.png" alt="section map" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image10.png" alt="head office" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#D8C0FF"/></a></li>
                </ul>


                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="Auction" style="background:#FFFFFF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/fm-station.jpg" alt="fm station" /></a></li>
                  <li><a href="#"><img src="" alt="Natural Resource" style="background:#FFFFFF" /></a></li>
                  <li><a href="#"><img src="" alt="Transparency" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image11.png" alt="fm station" /></a></li>
                  <li><a href="#"><img src="" alt="" /></a></li>
                  <li><a href="#"><img src="img/frontpage/Radio.jpg" alt="radio"/></a></li>
                  <li><a href="#"><img src="" alt=""/></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/mobile.jpg" alt="signals" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/cable_radio.jpg" alt="actions" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="2G 3G 4G" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/auto.jpg" alt="auto" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image12.png" alt="history" style="background:#AFDFAF"/></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div id="news-container" style="display: none;" class="content">
            <h2> News</h2>
            <div class="description">
              Latest news from newsrack.in
            </div>
            <div id="feeds">
              <img src="img/ajax-loader.gif" id="ajax-loader">
            </div>
            <script type="text/template" id="news-item-template">
              <div class="news-item-wrapper">
                <div class="news-title"><%= title %></div>
                <a href="<%= link %>">Read More</a>
              </div>
            </script>
          </div>

          <div id="research-container" style="display: none;" class="content">
            <div class="heading">
              >> The collected data, about the existing community
              radio stations in India, has been analysed and is being presented for others to visualize. <<
            </div>
            <p><a href="#/timeline" class="module">Events Timeline</a></p>
            <p><a href="#/pivot" class="module">Pivot Table</a></p>
            
            <div class="container content" id="map-container" style="display: none;">
              <div class="description">
                The map identifes the location and names of the various community radio stations in India.<br/>
                Clicking on them reveals more information about the radio station.
              </div>
              <div id="map" style="width: 1000px; height: 500px; margin-top:30px;"></div>
              <div id="legend1">
                <div id="bluelegend"><p id="t1"></p></div>
                <div id="blacklegend"><p id="t2"></p></div>
              </div>
            </div>

            <div class="content" id="treemap-container" style="display: none;">
              <div class="description">The following treemap gives detailed information about the various aspects of a radio station.</div>
              <div id="tmap"></div>
            </div>

            <div class="content" id="pivot-wrapper" style="display: none;">
              <div class="description">
                This shows the survey data (of CR stations) in a tabular way.<br/>
                This can be filtered to see and compare data.
              </div>
              <div id="pivot-container"></div>
              <div class="clearfix" style="clear:both;"></div>
              <span id="pivot-detail"></span>
              <div class="clearfix" style="clear:both;"></div>
              <div id="results"></div>
            </div>

            
            <div id="timeline-container" style="display:none;" class="content">
              <div class="heading">
                <h2> Events Timeline </h2>
              </div>
              <div id="timeline-content">
                The objective is 'To educate our peers in the community radio sector, on the access and rights issues involved
                in the digital media space, as media users themselves and for their communities/listeners.' 
                The timeline below brings up the information regarding the digital media over the periods
              </div>
              <div id="my-timeline" style="height: 150px;  border: 1px solid #aaa; width:90%; margin: 0px auto;"></div>
            </div>
	        </div>
	  
          <div id="resource-directory-container" style="display: none;" class="content">
            <h2> Resource Directory </h2>
            <div class="description">
              Contains resources and information about telecom coverage, subscriber population and various other reports.
            </div>
            <div class="resource-content"></div>
          </div>
            

          <div id="media-container" style="display: none;" class="content">
            <h2> Media </h2>
          </div>

          <div id="contact-container" style="display: none;" class="content">
            <h2> Contact </h2>
            <p> TODO: Relevant contact details to come up here</p>
          </div>

          <div class="menu" class="navigation">
            <ul class="font">
              <li><a href="#/index">Index</a></li>
              <li><a href="#/news">News</a></li>
              <li><a href="#/research">Research</a></li>
              <li><a href="#/resource-directory">Resource Directory</a></li>
              <li><a href="#/media">Media</a></li>
              <li><a href="#/contact">Contact</a></li>
            </ul>
          </div>
          <img id="foot" src=""></img>
        </div>

	
        <script type="text/template" id="leaf-template">
          <div class="leaf">
            <div class="text"><%= text%></div>
            <hr>
            <div class="img"><img src="<%= img %>"/></div>
          </div>
        </script>


        <!-- Resource Directory Content -->
        <div id="resource-directory-content" style="display: none;">
          <div id="popup-box" style="display: none;">
            <a class="close" href="#"></a>
            <div class="content"></div>
          </div>

          <div class="leaf" id="resource-category">
            <div class="text">
              Department of Telecommunication categorized the geographic location of India into Telecom Circles comprising Category A, B, C and Metro
            </div>
            <div class="img"><img src="img/resource-directory/categorymetro.png"></div>
            <a href="http://en.wikipedia.org/wiki/Mobile_telephone_numbering_in_India">Source</a>
          </div>

          <div class="leaf" id="resource-state_telecom_circle">
            <div class="text">
              The image shows the Telecom Circles and the code which define the region to which the State’s telecom is related to the Telecom Circle
            </div>
            <div class="img"><img src="img/resource-directory/statetelecomcircle.png"></div>
            <a href="http://en.wikipedia.org/wiki/Mobile_telephone_numbering_in_India">Source</a>
          </div>

          <div  class="leaf"id="resource-teledensity">
            <div class="text">
              The TRAI report about the number of telephone lines till the year 2010
            </div>
            <div class="img"><img src="img/resource-directory/teledensity.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div  class="leaf"id="resource-network">
            <div class="text">
              Wireless and Wired Network Growth in India based on TRAI Report
            </div>
            <div class="img"><img src="img/resource-directory/network.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-performance_of_subsc">
            <div class="text">
              For the year 2010-11, TRAI reported four Quarter’s reports.
              Below Snapshot reports about the increase in Wireless and Wireline Subscribers, Teledensity,
              Internet Subscribers as well as Broadcasting and Cable Services
            </div>
            <div class="img"><img src="img/resource-directory/performanceofsubsc.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-teledensity">
            <div class="text">
              The TRAI report about the number of telephone lines till the year 2010.
            </div>
            <div class="img"><img src="img/resource-directory/teledensity.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-cabletv">
            <div class="text">
              The below report of broadcasting and Cable TV services sector indicates the number of Licence approved for
              Community Radio Station as on 31st March 2011 and also elaborates on other Broadcasting and Cable services such as Cable TV services
            </div>
            <div class="img"><img src="img/resource-directory/cabletv.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-wirelessmetro">
            <div class="text">
              Chart specify the number of subscriber base in millions for Cellular Wireless services in different Categories
              A, B, C and Metro from March, 2006 to March, 2011
            </div>
            <div class="img"><img src="img/resource-directory/wirelessmetro.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-wirelinesubscriber">
            <div class="text">
              Below table mentions about the Wireline Subscriber base based on the reported by service provides and the area which it operates(Categories)
            </div>
            <div class="img"><img src="img/resource-directory/wirelinesubscriber.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-wirelinesubscriber2">
            <div class="text">
              Contd..
            </div>
            <div class="img"><img src="img/resource-directory/wirelinesubscriber2.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-licencecr">
            <div class="text">
              The below stats was given in TRAI website which shows the year wise licence issued and the Stations operational so far
            </div>
            <div class="img"><img src="img/resource-directory/licencecr.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-internet_subsc">
            <div class="text">
              The graph shows number of internet connections in the India over the year and also specify both wireless, wired and mobile internet connections
            </div>
            <div class="img"><img src="img/resource-directory/internetsubsc.png" ></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-cabletvmap">
            <div class="text">
              The cable TV services sector got around 92 million subscribers. 
              Map depicts state wise growth of the cable TV sector in terms of number of subscribers, over the last decade
            </div>
            <div class="img"><img src="img/resource-directory/cabletvmap.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-cablehomepercent">
            <div class="text">
              Corresponding to the map suggests around 92 million users subscribed for Cable TV during the year March, 2011
            </div>
            <div class="img"><img src="img/resource-directory/cablehomepercent.png"></div>
            <a href="http://www.trai.gov.in/WriteReadData/UserFiles/Documents/AnuualReports/ar_10_11.pdf">Source</a>
          </div>

          <div class="leaf" id="resource-revenuereportcircle">
            <div class="text">
              The image below provides the Circle Wise Subscribers and the Revenue generated by
              Indian Telecom Industry based on the region and the operators spread across
            </div>
            <div class="img"><img src="img/resource-directory/revenuereportcircle.png"></div>
            <a href="http://charts.medianama.com/indian-telecom-subscriber-and-revenue-report-circle-data">Source</a>
          </div>

          <div class="leaf" id="resource-operator_revenue_data">
            <div class="text">
              The image below provides the Circle Wise Subscribers and the Revenue generated by 
              Indian Telecom Industry based on the region and the operators spread across
            </div>
            <div class="img"><img src="img/resource-directory/operatorwiserevenuedata.png"></div>
            <a href="http://charts.medianama.com/indian-telecom-subscriber-and-revenue-report-%E2%80%93-operator-data/">Source</a>
          </div>

          <div class="leaf" id="resource-telecom_sector_revenue">
            <div class="text">
              In the below link, column “Network Expansion” elaborates about the growth of both Wired and Wireless 
              technology by specifying the number of Wireless and Wired Subscribers increased from 3.3 million to 
              584.32 million and 41.33 million to 36.95 million respectively. 
              It also specifies the growth in broadband subscribers of 0.18 million to 8.76 million as well as 
              telephones from 54.63 million to 621.28 million. The document also mentions about the Technological Development 
              which specify through the production and export of telecom equipment in the “Performance of telecom 
              equipment manufacturing sector” column
            </div>
            <div class="img"><img src="img/resource-directory/telecomsectorrevenue.png"></div>
            <a href="http://dot.gov.in/osp/Brochure/Brochure.htm">Source</a>
          </div>

          <div class="leaf" id="resource-spectrum_fee">
            <div class="text">
              The new policy required all operators who were under the fixed licence fee regime to migrate to a revenue sharing regime. In Revenue Sharing policy, the operators were required to pay a percentage of their Adjusted Gross Revenue (AGR) as annual license fee and spectrum usage charge to the Government. Below graph shows the details per year
            </div>
            <div class="img"><img src="img/resource-directory/spectrumfee.png"></div>
            <a href="http://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&ved=0CCAQFjAA&url=http%3A%2F%2Fcag.gov.in%2Fhtml%2Freports%2Fcivil%2F2010-11_19PA%2FTelecommunication%2520Report.pdf&ei=KrJyUN2EFYrKrAeS2IDACQ&usg=AFQjCNGqBtpOlZDu5vj5oLLsv8uGH2xU6w&sig2=Z_AFsAOn8A3RcskW9lP_lQ">Source</a>
          </div>

          <div class="leaf" id="resource-crprocedure">
            <div class="text">
              Procedure to apply for Community Radio
            </div>
            <div class="img"><img src="img/resource-directory/crprocedure.jpg"></div>
            <a href="http://marketbaba.com/demo1/ccfcindia/?page_id=684">Source</a>
          </div>

          <div class="leaf" id="resource-ITUdataexplorer">
            <div class="text">
              International Telecommunication Union have Data explorer which have the Statistics Database of Wireless, Wired, Mobile, Internet subscription report of each country which can be mapped
            </div>
            <div class="img"><img src="img/resource-directory/ITUdataexplorer.png"></div>
            <a href="http://www.itu.int/ITU-D/ict/statistics/explorer/index.html">Source</a>
          </div>

          <div class="leaf" id="resource-IDIranking">
            <div class="text">
              International Telecommunication Union provides IDI - (The ICT Development Index). This image specify the Asia Pacific region and ranking of India among them
            </div>
            <div class="img"><img src="img/resource-directory/IDIranking.png"></div>
            <a href="http://www.itu.int/ITU-D/ict/publications/idi/index.html">Source</a>
          </div>

        </div>
        <!-- end of resource directory --> 



        <script>
          window.M = window.M || {};
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/subnav.js"></script>
        <!--script src="lib/javascripts/accounting.min.js"></script-->
        <script src="js/jquery.dataTables.min.js"></script>
        <script src="js/dataTables.bootstrap.js"></script>
        <script src="js/pivot.min.js"></script>
        <script src="js/jquery_pivot.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/zoomer.js"></script>

        <script type="text/javascript" src="js/d3.v2.min.js"></script>
	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>

        <script src="js/leaflet.js"></script>
        <script src="js/treemap.js"></script>
        <script src="js/jquery.jfeed.js"></script>
        <script src="js/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));

          $(window).load(function() {
            M.init();
          });
        </script>
        <div id="overlay"></div>
    </body>
</html>
