<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="stylesheet" href="css/zoomer.css">
        <link rel="stylesheet" href="css/subnav.css">
        <link rel="stylesheet" href="css/pivot.css">
        <link rel="stylesheet" href="css/treemap.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css"/>

        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="container" class="wrapper">
          <div id="frontpage" class="content">
            <center>
            </center>
            <br><br><br>
            <div id="content">

              <div class="container">
                <img id="logo" src=""></img>
                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3"/></a></li>
                  <li><a href="#"><img src="" alt="100W" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3"/></a></li>
                  <li><a href="#"><img src="img/frontpage/signals.jpg" alt="" style="background:#BEFAF3"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="" alt="88-108MHZ" style="background:#BEFAF3"></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#BEFAF3" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image7.png" alt="" style="background:#BEFAF3" /></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="img/frontpage/antenna.jpg" alt="antena" style="background:#F2CEDF"/></a></li>
                  <li><a href="#"><img style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image1.png" alt="signal strength"style="background:#F2CEDF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image2.png" alt="signal strength"style="background:#F2CEDF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image3.png" alt="signal strength"style="background:#F2CEDF" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#F2CEDF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#F2CEDF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/ch8_1.jpg" alt="music" style="background:#F2CEDF"/></a></li>
                </ul>
                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt=""style="background:#FFFFFF" /></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/chip.jpg" alt="chip" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="" alt="Judgement: Airways Public Property - 1995" style="background:#EDE4B2" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image5.png" alt="monitoring" style="background:#EDE4B2" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image6.png" alt="Radio station" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="Spectrum allocation from MIB MOCIT" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="Indian Telegraph act-1885" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="img/frontpage/air.jpg" alt="logo" style="background:#EDE4B2"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#EDE4B2"/></a></li>
                </ul>

                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#9F99B0"/></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="img/frontpage/action.jpg" alt="structure" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image8.png" alt="doordarshan icon" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/abc.jpg" alt="collaborator" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/news.jpg" alt="auction" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image9.png" alt="section map" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image10.png" alt="head office" style="background:#D8C0FF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#D8C0FF"/></a></li>
                </ul>


                <ul class="thumb1">
                  <li><a href="#"><img src="" alt="Auction" style="background:#FFFFFF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/fm-station.jpg" alt="fm station" /></a></li>
                  <li><a href="#"><img src="" alt="Natural Resource" style="background:#FFFFFF" /></a></li>
                  <li><a href="#"><img src="" alt="Transparency" style="background:#FFFFFF"/></a></li>
                  <li><a href="#"><img src="" alt="" /></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image11.png" alt="fm station" /></a></li>
                  <li><a href="#"><img src="" alt="" /></a></li>
                  <li><a href="#"><img src="img/frontpage/Radio.jpg" alt="radio"/></a></li>
                  <li><a href="#"><img src="" alt=""/></a></li>
                </ul>

                <ul class="thumb">
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF" /></a></li>
                  <li><a href="#"><img src="img/frontpage/mobile.jpg" alt="signals" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/cable_radio.jpg" alt="actions" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="2G 3G 4G" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/auto.jpg" alt="auto" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="" alt="" style="background:#AFDFAF"/></a></li>
                  <li><a href="#"><img src="img/frontpage/images/image12.png" alt="history" style="background:#AFDFAF"/></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div id="news-container" style="display: none;" class="content">
            <h2> News</h2>
            <div id="feeds">
              <img src="img/ajax-loader.gif" id="ajax-loader">
            </div>
            <script type="text/template" id="news-item-template">
              <div class="news-item-wrapper">
                <div class="news-title"><%= title %></div>
                <a href="<%= link %>">Read More</a>
              </div>
            </script>
          </div>

          <div id="research-container" style="display: none;" class="content">
            <div class="container content" id="map-container" style="display: none;">
              <div id="map" style="width: 1000px; height: 500px; margin-top:30px;"></div>
              <div id="legend1">
                <div id="bluelegend"><p id="t1"></p></div>
                <div id="blacklegend"><p id="t2"></p></div>
              </div>
            </div>
            <div class="content" id="treemap-container" style="display: none;">
              <p><b><a href="#/pivot/" onclick="M.pivotTable();">Pivot Table</a></b></p>
              <div id="tmap"></div>
            </div>
            <div class="content" id="pivot-wrapper" style="display: none;">
              <div id="pivot-container"></div>
              <div class="clearfix" style="clear:both;"></div>
              <span id="pivot-detail"></span>
              <div class="clearfix" style="clear:both;"></div>
              <div id="results"></div>
            </div>
          </div>

          <div id="resource-directory-container" style="display: none;" class="content">
            <h2> Resource Directory </h2>
            
          </div>
            

          <div id="media-container" style="display: none;" class="content">
            <h2> Media </h2>
          </div>

          <div id="contact-container" style="display: none;" class="content">
            <h2> Contact </h2>
          </div>

          <div class="menu" class="navigation">
            <ul class="font">
              <li><a href="#/index">Index</a></li>
              <li><a href="#/news">News</a></li>
              <li><a href="#/research">Research</a></li>
              <li><a href="#/resource-directory">Resource Directory</a></li>
              <li><a href="#/media">Media</a></li>
              <li><a href="#/contact">Contact</a></li>
            </ul>
          </div>
          <img id="foot" src=""></img>
        </div>


        <script type="text/template" id="leaf-template">
          <div class="leaf">
            <div class="text"><%= text%></div>
            <hr>
            <div class="img"><img src="<%= img %>"/></div>
          </div>
        </script>

        <script>
          window.M = window.M || {};
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/subnav.js"></script>
        <!--script src="lib/javascripts/accounting.min.js"></script-->
        <script src="js/jquery.dataTables.min.js"></script>
        <script src="js/dataTables.bootstrap.js"></script>
        <script src="js/pivot.min.js"></script>
        <script src="js/jquery_pivot.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/zoomer.js"></script>

        <script type="text/javascript" src="js/d3.v2.min.js"></script>
		    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>

        <script src="js/leaflet.js"></script>
        <script src="js/treemap.js"></script>
        <script src="js/jquery.jfeed.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));

          $(window).load(function() {
            M.init();
          });
        </script>
    </body>
</html>
