<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> Maraa CR Portal </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container" id="container">
      <div id="header"></div>
      <div id="nav">
        <ul class="nav nav-pills"></ul>
      </div>
      <div class="clearfix"></div>
      <div id="content-container"></div>
      <div id="footer"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
      window.M = window.M || {};
      $(document).ready(function() {
        $.ajax({
          url: 'http://localhost/maraa/data/maraa.json',
          type: 'GET',
          success: function(data) {
            M.site_content = data;
            M.init();
          }
        });
      });
    </script>
    <script src="js/framework.js"></script>
    <script src="js/jquery.jfeed.js"></script>

    <!-- Underscore templates -->
    <script type="text/template" id="news-template">
      <div id="feeds">
        <img src="img/ajax-loader.gif" id="feeds-loader"/>
      </div>
    </script>
    <script type="text/template" id="news-item-template">
      <div class="news-item-wrapper">
        <div class="news-title"><%= title %></div>
        <a href="<%= link %>">Read More</a>
      </div>
    </script>
    <script type="text/template" id="nav-dropdown-template"> 
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#/<%= M.sanitize(name) %>"
        data-target='#'>
        <%= name %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% _.each(list, function(item) {
          %>
          <li><a href="#/<%= M.sanitize(item) %>"> <%= item %> </a></li>
          <%
          });
        %>
      </ul>
      </li>
    </script>
    <script type="text/template" id="image-view-template">
      <div class="img-wrapper">
        <img src="<%= src %>">
      </div>
    </script>
  </body>
</html>
